@import '../../styles/variables';

header {
  height: 120px;
  background: $offblack;
  color: white;
  padding-left: 30px;
  padding-top: 10px;
  box-shadow: 3px 3px 10px grey;

  h2 {
    font-size: 2rem;
    margin-top: 0;
  }
}
