@import '../../styles/variables';

footer {
  height: 120px;
  background: $offblack;
  color: white;
  font-size: 1.5rem;
  padding-left: 30px;
  padding-top: 10px;

  a {
    color: orange;

    &:hover {
      font-weight: bold;
    }
  }
}
